.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}






























@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.wrapperAll *{
	margin:0;
	padding:0;
	color:white;
	scroll-behavior:smooth;
	--webkit-user-select:none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'PT Sans', sans-serif;
}
.wrapperAll *::selection {
  color:teal;
  background: none;
}
.wrapperAll{
	background:#090a09;
	overflow-x:hidden;
}
.MenuBar{
	display:block;
    position:fixed;
    top:0;
    left:0;
    height:7vh;
    width:100vw;
    box-sizing:border-box;
    background:rgba(9,10, 9, 0.7);
	border-bottom:1px solid rgba(112, 93, 17, 0.4);
    backdrop-filter:blur(2px);
    padding:0.1rem;
    z-index:9;
}
	.MenuBar .Logo{
			position:absolute;
			top: 0.1rem;
			left: 0.1rem;
		    height:6vh;
		    width:14vw;
			margin: 0;
			padding: 0;
	}
	.MenuBar .menu{
		display:inline-block;
			position:absolute;
		    height:40px;
		    color:white;
		    font-size:2rem;
		    font-stretch:ultra-expanded;
		    transition:0.2s;
		    right:1.5rem;
		    background:none;
		    outline:none;
		    border:none;
			width:7vw;
		    font-size:23pt;
		    transition:0.2s;
	}
.Snav{
	display: block;
    position:absolute;
	background:rgba(9, 10, 9, 0.8);
    height:100vh;
    width:100vw;
    left:-120vh;
    top:7vh;
    padding:10rem 0 10rem 0;
    text-align:center;
    transition:0.3s;
    z-index:3;
}
	.Snav .nav{
			display:block;
		    color:white;
			width: 40vw;
			margin: 0 auto;
		    font-size:1.5rem;
		    text-decoration:none;
			transition:0.3s;
	}
	.Snav .nav:hover{
		transform:scale(1.1) translateY(0);
	}
	.Snav .nav::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: #fff;
		transition: width .3s;
	}
	.Snav .nav:hover::after {
		width: 100%;
	}
.a:hover{
    text-decoration:none;
    color:black;
    border-bottom:1px solid black;
}
.footer {
	position:relative;
	top:5%;
	height:200%;
	width:100%;
	padding-top:5%;
	overflow:hidden;
  }
	  .footer .social {
			text-align:center;
	  }
	  .footer .social > a {
			font-size:20px;
			width:40px;
			height:40px;
			display:inline-block;
			text-align:center;
			margin:0 1px;
			color:black;
			padding:1%;
			transition:0.5s;
	  }
		  .footer .social > a:hover {
				text-decoration:none;
				outline:none;
				border:none;
				transform:scale(1.4);
		  }
	  .footer:last-of-type p {
			font-size:13px;
			color:#aaa;
			text-align:center;
			font-family:helvetica;
			font-weight:300;
			letter-spacing:2px;
	  }

.container{
	overflow:hidden;
	height:auto;
	padding:5%;
	margin:20% 5% 2% 5%;
	z-index:6;
}
.blocks{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
	height:auto;
}
.blockB{
	text-align:right;
	margin-top:-30vh;
}
.blockD, .blockE{
	display:block;
}
.blockD{
	margin-bottom:-5vh;
	height: 50vh;
}
.blockB .text{ transform:translateX(100%);}
.container .blocks .data{
	display:inline-block;
	position:relative;
	z-index:5;
}
	.blocks .data .h1{
		font-size:25pt;
		width:100%;
		z-index:5;
	}
	.blocks .data .text{
		color: silver;
		font-size:1.5rem;
		font-weight: 500;
		width:50%;
		line-height:2rem;
		letter-spacing:0.1rem;
		margin-top:0.3rem;
		z-index:5;
	}
	.dataProjects .textPro{
		font-size:1.5rem;
		font-weight: 800;
		width:80%;
		line-height:2rem;
		letter-spacing:0.3rem;
		margin-top:0.3rem;
		z-index:5;
	}
	.blocks .btn{
		margin-top:7%;
		color:black;
		background:linear-gradient(to right, silver, grey);
		outline:none; border:none;
		padding:2% 4% 2% 4%;
		border-radius:5px;
		font-weight:900;
		z-index:5;
		cursor: pointer;
	}
	.blocks .btn:hover{
		background:linear-gradient(to right, grey, black);
		background-position:80%;
		color:white;
	}
	.blocks .img{
		display:inline-block;
		position:absolute;
		background-position:center;
		background-repeat:no-repeat;
		overflow:hidden;
		z-index:7;
		height:50%;
		width:50%;
	}
		.imgA{
			background-image:url('../assets/img/1.webp');
			transform:translateX(80%) translateY(5%);
			background-size: 130%;
		}
		.imgB{
			background-image:url('../assets/img/2.webp');
			transform:translateX(-22%) translateY(0);
			background-size: 125%;
		}
		.imgC{
			background-image:url('../assets/img/DALL-E/assistant.webp');
			transform:translateX(70%) translateY(5%);
			background-size: 120%;
		}
.hr{
	width:70vw;
	margin:50% 5% 10% 5%;
	border: none;
	border-top:3px solid white;
	border-radius:5px;
	outline:none;
	z-index:8;
}
.projects,.blockB{
	margin-top:15%;
}
.projects .blockC{
	display:inline-block;
}
.projects .blockC .data .list{
	display:flex;
	flex-wrap:wrap;
	gap: 1.5rem;
	justify-content:center;
	align-items:center;
	padding:0 5%;
	margin-top:10%;
}

#canvas{
	background-image:silver;
	background-position:center;
	background-repeat:no-repeat;
	background-size:165%;
	margin-bottom:59%;
	box-sizing:border-box;
	left:0;
	right:0;
}
.contactForm{
	display:block;
	position:relative;
	text-align:center;
	margin:2rem 10rem auto 1rem;
}
.contactForm .cform{
	display:inline-block;
	position:relative;
	text-align:left;
	margin:auto 1rem auto -1rem;
}
.contactForm .cform .row > *:not(.btnForm){
	display:inline-block;
	position:relative;
	background:none; color:silver;
	outline:none; border:none;
	padding:0.3rem; margin:0.5rem;
	width:70vw;
	border-bottom:1px solid silver;	
}
.btn .btnHire{
	display:block;
	margin:2rem auto;
	width:70vw;
	background:none; color:silver;
	outline:none;
	font-size:1.3rem;
	letter-spacing:0.1rem;
	animation:blink 0.7s linear infinite alternate-reverse;
}
@keyframes blink{
	to{opacity:0;}
}
.map{
	overflow:hidden;
	max-width:75vw;
}
.stats .img{
	height:40vh;
	width:80vw;

}
.statsLang .img{
	height:40vh;
	width:80vw;
	margin:10vh auto;
}
.iffi{
	transform:translate(-20%,0);
}
.fi{
	position:absolute;
	color:transparent;
	-webkit-text-stroke:1px orange;
	transform:translate(10%,0);
}
.lf{
	position:absolute;
	color: orange;
	-webkit-text-stroke:1px orange;
	transform:translate(10%,0);
	animation: wv 4s ease-in-out infinite;
}

@keyframes wv {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
  clip-path: polygon(
  0% 60%,
  15% 65%,
  34% 66%,
  51% 62%,
  67% 50%,
  84% 45%,
  100% 46%,
  100% 100%,
  0% 100%
  );
  }
  
  }

.fontSts{
	color:transparent;
	-webkit-text-stroke:2px white;
	font-size:2.5rem;
	letter-spacing:0.3rem;
}

.gamesSection{
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,30.5)),url('../assets/img/DALL-E/game-m.webp');
} 
.musicSection{
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,30.5)),url('../assets/img/DALL-E/music.webp');
}
.clcliSection{
	background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,50.5)),url('../assets/img/DALL-E/confused.webp');
}
.sectionsClob{
	display:grid;
	width:80vw; height:10rem;
	background-position:center; 
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
	border-radius:2rem;
	text-align:center; place-items:center;
	margin-bottom:0.5rem;
}
.sectionsClob:hover{
	background-size:110%;
}
.gamesSection .textPro , .musicSection .textPro , .clcliSection .textPro{
	color: fuchsia;
	font-weight:900;
	font-size:1.5rem;
	letter-spacing:0.2rem;
	text-shadow:0px 2px 20px black;
	-webkit-text-stroke:0.1px purple;
}
.projectsBtn{
	background:none; outline:none;
	border:2px solid fuchsia; border-radius:2rem;
	padding:0.5rem; font-size:1rem;
	width:50vw; letter-spacing:0.1rem;
	transition:0.2s ease;
}
	.gamesSection .projectsBtn:hover:focus {
		background:purple;
	}
	.musicSection .textPro{
		color: #d1cfcf;
	}
	.musicSection .projectsBtn{
		border:2px solid firebrick;
	}
	.musicSection .projectsBtn:hover:focus{
		background: rgb(180, 45, 45);
	}
	.clcliSection .textPro{
		color: lime;

	}
	.clcliSection .projectsBtn{
		border:2px solid lime;
	}
	.clcliSection .projectsBtn:hover:focus{
		background: rgb(59, 250, 59);
	}
.headImg{
	display:grid; place-items:center;	
	text-align:center;
	margin:5rem 1rem; padding:auto;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover; overflow:hidden;
	height:10rem; width:auto;
	border-radius:2rem;
}
.headImg .text{
	font-size:2.5rem;
	font-weight:900;
	letter-spacing:0.3rem;
	margin-top:5rem;
}
.containerLinks{
	display:grid; place-items:center;
	margin:1rem; padding:auto 1rem;
	grid-template-columns:auto auto;
}
.containerLinks .projectsBtn{
	max-width:9rem; 
	width:10rem; height:5rem;
	outline:none;
	margin:1rem; padding:0 0.5rem;
	border-radius:1rem;
	color:white; font-size:0.9rem;
	font-weight:500;
	text-shadow:0 5px 5px black;
	transition:0.2s ease;
}
.containerLinks .projectsBtn:hover{
	text-shadow:0 -5px 5px black;
	box-shadow:inset 1px 0 15px black;
}
	.gcimg{
		background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,30.5)),url('../assets/img/DALL-E/game-m.webp');
		background-position:center; 
		background-repeat:no-repeat;
		background-size:cover;
	}
	.gcimg .text{
		color:fuchsia;
		text-shadow:0 0 20px purple;
	}
	.glink .projectsBtn{
		border:1px solid fuchsia;
		background:purple; 
	}
	.clclicimg{
		background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,30.5)),url('../assets/img/DALL-E/confused.webp');
		background-position:center; 
		background-repeat:no-repeat;
		background-size:cover;
	}
	.clclicimg .text{
		color: lime;
		text-shadow:0 0 20px purple;
		margin-top: -0rem;
		font-size:2rem;
		text-align:center;
	}
	.clclilink .projectsBtn{
		border:1px solid lime;
		background:orange; 
		font-weight:900;
	}


	@media screen and (min-width:700px){
		.MenuBar{
			height:9vh;
		}
			.MenuBar .Naman{
					height:3rem;
					width:4.8rem;
					margin:0.2%;
			}
			.MenuBar .menu{
					display:none;
			}
					.MenuBar .Logo {
						position: absolute;
						top: 0.5rem;
						left: 0.5rem;
						height: 6vh;
						width: 5vw;
						margin: 0;
						padding: 0;
					}
		.Snav{
			display:flex;
			justify-content: right;
			position:absolute;
			background:none;
			box-shadow:none;
			height:8vh;
			width:77vw;
			top:0;
			left:20vw;
			right: 0;
			padding:0.8rem;
			text-align:right;
			transition:0.2s;
		}
			.Snav .nav{
					display:inline-block;
					font-size:1rem;
					text-decoration:none;
					font-family:righteous;
					padding:0.5rem;
					margin: 0 0.2rem;
					color:white;
					text-align: center;
					height: 2.5vh;
					width: 7vw;
			}
			.Snav .nav:hover{
				transform:scale(1);
			}
			.Snav .footer{
				display: none;
			}
			.container{
				margin-top: 10vh;
			}
			.container{
				overflow:hidden;
				height:80vh;
				padding:5rem 10rem 15rem 10rem;
				margin:1rem auto 1rem auto;
				z-index:6;
				height: auto;
			}
			.cLeft{
				padding-left: 20rem;
			}
			.cRight{
				padding-left: 15rem;
			}
			.blocks{
				margin: 5rem 1rem;
				
			}
			.blocks .data .btn , .projects .block .data .list .btn{
				padding:1.5% 4% 1.5% 4%;
			}
					.imgA {
						background-image: url('../assets/img/1.webp');
						transform: translateX(50%) translateY(-5%);
						background-size:50% 140%;
					}
			
					.imgB {
						background-image: url('../assets/img/2.webp');
						transform: translateX(-20%) translateY(-15%);
						background-size: 60% 145%;
					}
			
					.imgC {
						background-image: url('../assets/img/DALL-E/assistant.webp');
						transform: translateX(50%) translateY(-16%);
						background-size: 40% 90%;
					}
			.projects,.blockB{
				margin-top:5%;
			}
			.projects{
				margin:5% auto;
	
			}
		.hr{
			width:50vw;
			margin:20rem auto auto 5rem;
			border: none;
			border-top:3px solid white;
			border-radius:5px;
			outline:none;
			z-index:8;
		}
		.hrL{
			margin: 20rem auto auto 10rem;
		}
		.hrL2{
			margin: 20rem auto auto 17rem;
		}
		.hdng{
			margin:-5rem 30rem;
		}   
		.sectionsClob{
			height:15rem;
			margin-bottom:1.5rem;
		}
		.gamesSection .text , .musicSection .text , .clcliSection .text{
			font-size:2rem;
		}
		.projectsBtn{
			padding:1rem;
			width:50vw;
		}
		.stats-lang .img{
			margin-top:5rem;
		}
		.contactForm{
			margin:2rem 5rem;
		}
		.contactForm .cform{
			margin:auto;
		}
		.contactForm .cform .row > *:not(.btnForm){margin:0.5rem auto;
			font-size: 1.5rem;
			text-align:left;
	
		}
		.map{
			overflow:hidden;
			min-width:75vw;
		}
		.footer {
			height:10rem;
			padding-top: 0;
			margin-top: -15rem;
		}
			.footer .social > a {
					font-size:2rem;
			}
			.footer:last-of-type p {
					font-size:1.4rem;
					margin-top: 3rem;
			}
	
		.containerLinks{
			display:grid; place-items:center;
			margin:1rem; padding:auto 1rem;
			grid-template-columns:auto auto auto;
			margin-bottom: 25rem;
		}
		.containerLinks .projectsBtn{
			max-width:14rem; 
			width:14rem; height:6rem;
			outline:none;
			margin:1rem; padding:0 0.5rem;
			border-radius:1rem;
			color:white; font-size:1rem;
			font-weight:500;
			text-shadow:0 5px 5px black;
			transition:0.2s ease;
		}
	}
	